@using MyWorkDashboard.Shared.Services
@using System.ComponentModel
@using AntDesign.TableModels
@using MyWorkDashboard.Shared.Duties

@implements IDisposable

@inject SchedulingServive schedulingServive
@inject MessageService messageService

@if (_isEmpty)
{
    <Result Icon="pie-chart-outline"
        Status="info"
        Title="この日のタスクが1件もありません"
        SubTitle="タスクを登録するとここに集計結果が表示されます。">
    </Result>
}


<div class="statistic-frame" hidden="@(_isEmpty)">

    <Row>
        <Col Span="24">
            <div style="padding: 10px">
                <Table TItem="StatisticsTableViewModel" DataSource="@_items" OnRowClick="OnRowClick" HidePagination="true" Size="TableSize.Small">
                    <Column @bind-Field="@context.Category" Sortable >
                        <p>@context.Category</p>
                    </Column>
                    <Column @bind-Field="@context.Description" Sortable >
                        <p>@context.Description</p>
                    </Column>
                    <Column @bind-Field="@context.WorkCode" Sortable >
                        @{
                            TypographyCopyableConfig selfDefinedText = new TypographyCopyableConfig()
                            {
                                Text =@context.WorkCode,
                                OnCopy = () =>
                                {
                                    messageService.Success("コピーしました", 1);
                                }
                            };
                        }
                        <div>
                            <Paragraph Copyable CopyConfig="@selfDefinedText">@context.WorkCode</Paragraph>
                        </div>
                    </Column>
                    <Column @bind-Field="@context.Times" Sortable >
                        @{
                            TypographyCopyableConfig selfDefinedText = new TypographyCopyableConfig()
                            {
                                Text =@context.Times.Replace(":",""),
                                OnCopy = () =>
                                {
                                    messageService.Success("コピーしました", 1);
                                }
                            };
                        }
                        <div>
                            <Paragraph Copyable CopyConfig="@selfDefinedText">@context.Times</Paragraph>
                        </div>
                    </Column>
                </Table>
            </div>

        </Col>

    </Row>


</div>

<style>
    .statistic-frame {
        border: 1px black solid;
        height: 100%;
    }
</style>

@code {


    private bool _isEmpty = true;

    protected override void OnInitialized()
    {

        schedulingServive.DutyPropertyChanged += RetakeStatistics;
        schedulingServive.SelectedDateChanged += RetakeStatistics;
        schedulingServive.DutyDeleted += RetakeStatistics;


        ChangeTargetDate(schedulingServive.SelectedDate);
        StateHasChanged();
    }


    private void RetakeStatistics(object? sender, EventArgs e)
    {
        ChangeTargetDate(schedulingServive.SelectedDate);
        StateHasChanged();
    }

    private void ChangeTargetDate(DateOnly? date)
    {
        _isEmpty = true;
        if (date != null)
        {
            var duties = schedulingServive.FindDutiesByDate(date.Value);
            if (duties.Length > 0)
            {
                _isEmpty = false;
                _items = schedulingServive?
                    .TakeStatisticsOfSelectedDay()?
                    .Select(result => new StatisticsTableViewModel(result))?
                    .OrderBy(model => model.WorkCode)?
                    .ToArray();
            }
        }
    }

    StatisticsTableViewModel[] _items = new StatisticsTableViewModel[] { };

    public class StatisticsTableViewModel
    {
        [DisplayName("分類")]
        public string Category
        {
            get => $"{_dutyStaticticResult.Category?.Id} {_dutyStaticticResult.Category?.Name}".Trim();
            set => throw new NotImplementedException("実装されていません");
        }

        [DisplayName("概要")]
        public string Description
        {
            get => $"{_dutyStaticticResult.Code?.Name}";
            set => throw new NotImplementedException("実装されていません");
        }

        [DisplayName("作業コード")]
        public string WorkCode
        {
            get => $"{_dutyStaticticResult.Code?.Id}";
            set => throw new NotImplementedException("実装されていません");
        }

        [DisplayName("時間")]
        public string Times
        {
            get => _dutyStaticticResult.Time.ToString(@"hh\:mm");
            set => throw new NotImplementedException("実装されていません");
        }


        private DutyStaticticResult _dutyStaticticResult;

        public StatisticsTableViewModel(DutyStaticticResult dutyStaticticResult)
        {
            _dutyStaticticResult = dutyStaticticResult;
        }
    }

    void OnRowClick(RowData<StatisticsTableViewModel> row)
    {
        Console.WriteLine($"row {row.Data.Category} was clicked.");
    }

    public void Dispose()
    {
        schedulingServive.DutyPropertyChanged -= RetakeStatistics;
        schedulingServive.SelectedDateChanged -= RetakeStatistics;
        schedulingServive.DutyDeleted -= RetakeStatistics;
    }

}
